<div class="container mt-5">
  <div class="index-container">
	<h1>Thank you for signing up as a Realtor!</h1>
	<p>Please wait for admin approval before you can access your account.</p>
 </div>
</div>
