<div class="container mt-5">
  
  <div class="text-center py-4">
    <h1 class="h4 h-md-2">Is this a project-based listing or an independent listing?</h1>
  </div>

  <%= form_with url: choose_type_listings_path, method: :post do %>
    <div class="row justify-content-center g-3">
      
      <!-- Project Selling -->
      <div class="col-12 col-md-6">
        <input type="radio" class="btn-check" name="listing_type" id="listing_type_project" value="project" autocomplete="off">
        <label class="btn btn-outline-success w-100 h-100 text-center p-3" for="listing_type_project">
          <%= image_tag("project-selling.png", class: "rounded-circle img-fluid", style: "max-width: 250px; height: auto;") %>
          <h4 class="mt-3">Project Selling</h4>
          <p class="mb-0"><small><em>Ex. Subdivision and Condominium Units</em></small></p>
        </label>
      </div>

      <!-- Independent Listing -->
      <div class="col-12 col-md-6">
        <input type="radio" class="btn-check" name="listing_type" id="listing_type_independent" value="independent" autocomplete="off">
        <label class="btn btn-outline-success w-100 h-100 text-center p-3" for="listing_type_independent">
          <%= image_tag("independent-listing.png", class: "rounded-circle img-fluid", style: "max-width: 250px; height: auto;") %>
          <h4 class="mt-3">Independent Listing</h4>
          <p class="mb-0"><small><em>Ex. Build-and-Sell Projects and Pre-owned Homes</em></small></p>
        </label>
      </div>

    </div>

    <div class="row justify-content-center">
      <div class="col-sm-8 mt-4 mb-2">
        <%= submit_tag "Continue", class: "btn btn-light btn-lg w-100" %>
      </div>
    </div>
  <% end %>
</div>
<div class="mb-5"></div>
<div class="mb-5"></div>
