<h1>Welcome back</h1>
  <h2><%= current_user.first_name %></h2>
  
  <br>

  <a href="/managerealtors" class="btn btn-light" role="button">Manage Realtors</a> 
  <a href="/user_management" class="btn btn-light" role="button">Manage Developers</a> 
  <a href="/user_management/new" class="btn btn-info" role="button">Create New User</a>
  <a href="/admin/listings" class="btn btn-secondary" role="button">Approve Listings</a>
  