<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Explore Homes in Naga</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-success mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="bi bi-chevron-left"></i>
                </a>
                <a class="btn btn-success mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="bi bi-chevron-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/house1.jpg" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">₱1,234,567.00</h4>
                                            <p class="card-text">2 Beds, 1 Bath | 353 sq.ft.</p>
                                            <p class="card-text">Pacol, Naga City</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/house1.jpg" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">₱1,234,567.00</h4>
                                            <p class="card-text">2 Beds, 1 Bath | 353 sq.ft.</p>
                                            <p class="card-text">Pacol, Naga City</p>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/house1.jpg" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">₱1,234,567.00</h4>
                                            <p class="card-text">2 Beds, 1 Bath | 353 sq.ft.</p>
                                            <p class="card-text">Pacol, Naga City</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                         <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/house1.jpg" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">₱1,234,567.00</h4>
                                            <p class="card-text">2 Beds, 1 Bath | 353 sq.ft.</p>
                                            <p class="card-text">Pacol, Naga City</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/house1.jpg" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">₱1,234,567.00</h4>
                                            <p class="card-text">2 Beds, 1 Bath | 353 sq.ft.</p>
                                            <p class="card-text">Pacol, Naga City</p>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/house1.jpg" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">₱1,234,567.00</h4>
                                            <p class="card-text">2 Beds, 1 Bath | 353 sq.ft.</p>
                                            <p class="card-text">Pacol, Naga City</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/house1.jpg" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">₱1,234,567.00</h4>
                                            <p class="card-text">2 Beds, 1 Bath | 353 sq.ft.</p>
                                            <p class="card-text">Pacol, Naga City</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/house1.jpg" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">₱1,234,567.00</h4>
                                            <p class="card-text">2 Beds, 1 Bath | 353 sq.ft.</p>
                                            <p class="card-text">Pacol, Naga City</p>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="card-img-top" src="assets/house1.jpg" alt="Card image">
                                        <div class="card-body">
                                            <h4 class="card-title">₱1,234,567.00</h4>
                                            <p class="card-text">2 Beds, 1 Bath | 353 sq.ft.</p>
                                            <p class="card-text">Pacol, Naga City</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
