<% content_for :title, "Editing model house" %>
<div class="container mt-5">
    <h2 class="text-center">Edit Model House</h2>

     <%= render 'form', model_house: @model_house %>

    <br>
    <br>
    <br>

    <h3>Your Attachments</h3>

    <% if @model_house.model_photos.attached? %>
      <div class="mb-3">
        <p>Previously uploaded photos:</p>
        <div class="row">
          <% @model_house.model_photos.each do |photo| %>
            <div class="col-md-3">
              <%= image_tag photo, class: "img-thumbnail media", style: "width: 300px;" %>

              <%= form_with url: remove_attachment_model_house_path(@model_house, attachment_id: photo.id), method: :delete, local: true do %>
                <%= submit_tag "Remove", class: "btn btn-danger btn-sm mt-2", data: { confirm: "Are you sure you want to delete this photo?" } %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>

