<% content_for :title, "Editing Development Project" %>

<div class="container">
  <div class="mt-5"></div>
  <div class="form-container">

  <h1>Edit Development Project</h1>

    <% if @dev_project.project_photos.attached? %>
      <div class="mb-3">
        <p>Previously uploaded photos:</p>
        <div class="row">
          <% @dev_project.project_photos.each do |photo| %>
            <div class="col-md-3">
              <%= image_tag photo, class: "img-thumbnail media", style: "width: 300px; height: auto; object-fit: cover;" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>


  <%= render "form", dev_project: @dev_project %>

  <br>

  <div>
    <%= link_to "Show this Development Project", @dev_project %> |
    <%= link_to "Back to Development Projects", dev_projects_path %>
  </div>
  <br>
   
  </div>
  <div class="mb-5"></div>
  <div class="mb-5"></div>
</div>
